<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        ul{
            list-style-type: none;
            background-color: rgb(85, 156, 223);
            text-align: center;
            padding: 16px;
            margin: 0px;
            width: 100%;}
        li a{
            font-size: 24px;
            color: white;
            padding: 8px}
      

    </style>
</head>
<body style="margin: 0;background-color: rgb(42, 86, 121);">
        {%if user.is_authenticated %}
        <li><a href="{% url 'logout'%}">Cerrar sesion</a></li>
        <h1>Hola {{user.get_full_name}}!</h1>
        {%else%}
        <li><a href="{% url 'login'%}">Iniciar sesion</a></li>
        {%endif%}
    
        <ul>
            {% for p in productos %}
                <li>{{p.nombre}} - ${{p.precio}}</li>
                {% endfor %}
        </ul>
</body>
</html>